#logo{
  margin-top: px;
  /* font-size: 50px; */
  text-align: center;
}
#logo>img{
  max-width: 100%;

}
article{
  text-align: center;
  font-size: larger;
  margin: 120px 450px;
  /* background-color: whitesmoke; */
  box-shadow: 0px 0px 5px;
  padding:50px;
  letter-spacing: 4px;
  font-family: sans-serif;
  word-spacing: 5px;

}
li{
  margin-top: 30px;
  /* padding: 20px 50px; */
  margin-bottom: 95px;
  
}
li a:hover{
  background-color: #f26535;
  color: black;
  transition: 0.4s;


}
#option{
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  font-size: large;
  padding: 0px;
  font-weight: 500;
  /* margin-bottom: 95px; */

}
a{
  text-decoration: none;
  color: black;
  padding: 20px 50px;
  
}
@media screen and (max-width: 1310px) {
#option {
  /* margin-top: 100px; */
    flex-flow: wrap; /* The width is 100%, when the viewport is 800px or smaller */
  }
}
@media screen and (max-width: 1310px) {
#option>li {
  margin-bottom: 50px;
     /* The width is 100%, when the viewport is 800px or smaller */
  }
}
@media screen and (max-width: 1450px) {
  article {
     /* The width is 100%, when the viewport is 800px or smaller */
     margin-left: 300px;
     margin-right: 300px;
  }
}
@media screen and (max-width: 1200px) {
  article {
     /* The width is 100%, when the viewport is 800px or smaller */
     margin-left: 200px;
     margin-right: 200px;
  }
}
@media screen and (max-width: 1000px) {
  article {
     /* The width is 100%, when the viewport is 800px or smaller */
     display: none;
  }
}
@media screen and (max-width: 1000px) {
  #option {
    margin-top: 150px;
      
    }
  } 